body {
  background-color: orange !important;
}
.heading {
  color: black;
  font-size: 50px;
}
.main {
  text-align: center;
  margin-top: 250px;
}
.titletext {
  color: black;
  margin-top: -10px;
}
.fb_login {
  color: orange;
  background-color: black;
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px 5px;
}
.logo {
  margin-right: -10px;
}
